<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 float-left">
                <h6>IRSHAD PK</h6>
            </div>
            <div class="col-lg-9 hd-cnt-dt">
                <div class="d-flex flex-wrap justify-content-end">
                    <div>
                        <h6 class="d-flex align-items-center "><i class="fas fa-mobile px-1"></i> +971 58862 2097</h6>
                    </div>
                    <div>
                        <h6 class="d-flex align-items-center"><i class="fas fa-envelope px-1"></i> irshabodhi@gmail.com
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <button class="toggle-menu animate__bounceIn animate__delay-5s">
            <span></span>
        </button>
    </nav>
    <div id="menu" class="">


        <section class="animations">
            <div class="animations-container">
                <div class="ani ani-1">
                    <div class="ani-cube">
                        <div class="cube-face face_front"></div>
                        <div class="cube-face face_right"></div>
                        <div class="cube-face face_left"></div>
                        <div class="cube-face face_top"></div>
                        <div class="cube-face face_bottom"></div>
                        <div class="cube-face face_back"></div>
                    </div>
                </div>
                <div class="ani ani-2">
                    <div class="ani-cube ani-cube-2">
                        <div class="cube-face face_front"></div>
                        <div class="cube-face face_right"></div>
                        <div class="cube-face face_left"></div>
                        <div class="cube-face face_top"></div>
                        <div class="cube-face face_bottom"></div>
                        <div class="cube-face face_back"></div>
                    </div>
                </div>
                <div class="ani ani-3">
                    <div class="ani-cube ani-cube-3">
                        <div class="cube-face face_front"></div>
                        <div class="cube-face face_right"></div>
                        <div class="cube-face face_left"></div>
                        <div class="cube-face face_top"></div>
                        <div class="cube-face face_bottom"></div>
                        <div class="cube-face face_back"></div>
                    </div>
                </div>
                <div class="ani ani-4">
                    <div class="ani-hamburger">
                        <div class="hamburger-line hamburger-line_top"></div>
                        <div class="hamburger-line hamburger-line_middle"></div>
                        <div class="hamburger-line hamburger-line_bottom"></div>
                    </div>
                </div>
                <div class="ani ani-5">
                    <div class="moving-square-frame"></div>
                    <div class="ani-moving-square"></div>
                </div>
                <div class="ani ani-6">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1024 1024">
                        <path id="followPath"
                            d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                        </path>
                        <path id="dashedPath"
                            d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                        </path>
                        <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                            <animateMotion xlink:href="#airplain" dur="6s" fill="red" repeatCount="indefinite"
                                rotate="auto">
                                <mpath xlink:href="#followPath"></mpath>
                            </animateMotion>
                        </path>
                    </svg>
                </div>
            </div>

            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio">

                            portfolio
                        </a>
                    </li>
                </ul>
            </nav>
            <footer class="menu-footer">
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="#">

                            </a>
                        </li>
                        <li>
                            <a href="#">

                            </a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </section>
    </div>

</header>