<section class="banner banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 animate__animated animate__fadeInUp respo-bg">
                <h1>
                    Hello I am Irshad<br /> UX/UI <span> Designer </span>| Front-end <br /> <span>Developer </span>
                    with <span>6+</span> years of experience
                </h1>
                <p>
                    My journey in web development has been a thrilling blend of creativity and problem-solving.
                    I've had the privilege of contributing to significant government projects in Dubai, Sharjah, and
                    Ajman. These experiences have honed my skills in creating user-friendly interfaces that meet the
                    highest standards of security and accessibility.
                </p>
                <p>
                    I'm passionate about making a meaningful impact in the digital landscape. Let's connect and explore
                    how I can bring that passion to your next project.
                </p>
                <a href="../../assets/images/resume/irshad_pk.pdf"> <button type="button"
                        class="animate__animated animate__pulse" mdbBtn color="dark" mdbWavesEffect>Download
                        Resume</button></a>
            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>

<style>
    .ft-hidden {
        display: none !important;
    }
</style>